<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>activité physique</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">
				<!-- Page header -->
                <div id="header" class="page-header col-md-12">
                    <div class="page-header-content d-md-flex justify-content-between align-items-center text-center p-lg-5 container-fluid">
                        <div class="d-flex">
                            <div class="navbar-brand flex-1 flex-md-0">
                                <a href="../projet_federal.php" class="d-inline-flex align-items-center">
                                    <img src="../img/logo.png" id="logo" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="d-lg-inline-none collapse d-lg-block ms-lg-auto mx-5">
                            <div class="btn-group d-flex flex-wrap align-items-center">
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn text-white mx-2" data-bs-toggle="dropdown">
                                        <img src="../img/loupe.png" alt="">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" data-popper-placement="left-start">
                                        <a href="#" class="dropdown-item">
                                            <div class="navbar-search flex-fill position-relative">
                                                <div class="form-control-feedback form-control-feedback-start d-flex align-items-center">
                                                    <input type="text" class="form-control bg-transparent me-2" placeholder="Search">
                                                    <div class="form-control-feedback-icon">
                                                        <i class="ph-magnifying-glass"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <button type="button" class="btn d-flex flex-column text-white mx-2 justify-content-center">
                                    <img src="../img/Vector.png" alt="" class="mx-auto mb-2">
                                    <span class="small"><strong>Trouver <br> un club</strong></span>
                                </button>
                                <button type="button" class="btn d-flex flex-column text-white mx-2 justify-content-center">
                                    <img src="../img/Group 41.jpg" alt="" class="mx-auto mb-2">
                                    <span class="small"><strong>Extranet</strong></span>
                                </button>
                                <button type="button" class="btn d-flex flex-column text-white mx-2 justify-content-center">
                                    <img src="../img/Group 42.jpg" alt="" class="mx-auto mb-2">
                                    <span class="small"><strong>Espace <br> licencié</strong></span>
                                </button>
                            </div>
                        </div>
                        <div id="dropdown">
                            <div class="align-items-center mb-3">
                                <div class="dropdown w-100 w-md-auto">
                                    <a href="#" class="btn btn-lg bg-white d-flex align-items-center justify-content-center text-body" data-bs-toggle="dropdown">
                                        <div class="d-flex align-items-center">
                                            <p class="fw-semibold m-2" style="color: #0E3083;">Menu</p>
                                            <img src="../img/burger icon(1).png" class="ms-3" alt="">
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md-end w-100 w-md-auto wmin-300 wmin-sm-350 pt-0" data-bs-popper="static">
                                        <div class="d-flex align-items-center p-3">
                                            <h6 class="fw-semibold mb-0">Menu</h6>
                                        </div>
                                        <a href="#" class="dropdown-item py-2">Action</a>
                                        <a href="#" class="dropdown-item py-2">Another action</a>
                                        <a href="#" class="dropdown-item py-2">One more action</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item py-2">Separated line</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- /page header -->

				<!-- Content area -->
                <div class="content p-0" id="activites">
                    <div id="hautpage">
                        <div id="bandeau" class="position-relative d-flex justify-content-center align-items-center text-center">
                            <img src="../img/abdo fessier 1.jpg" alt="Centre d'activités de pleine nature de Sainte-Énimie" class="img-fluid">
                            <div class="overlay-text position-absolute w-75 h-100 d-flex justify-content-center align-items-center">
                                <p class="display-1 fw-bold text-white col-lg-8">Nos activités physique et sports loisirs</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center container-fluid my-5">
                            <div class="col-md-9">
                                <span class="breadcrumb-item active">Accueil  >  La fédération  > Nos activités physique et sports loisirs</span>
                            </div>
                        </div>
                        <div class="flex-column align-items-center text-center container-fluid col-md-6">
                            <p class="display-4 fw-bold text-center">Nos activités physique et sports loisirs</p>
                        </div>
                    </div>
                    <div id="container" class="d-flex justify-content-center col-md-12 my-3 my-md-0 container-fluid">
                        <div class="col-md-9">
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-6 flex-column justify-content-center my-3">
                                    <a class="btn w-100 bg-light d-flex justify-content-between align-items-center p-3 fw-bold" style="color: #0099DC;" data-bs-toggle="collapse" href="../#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                        Pourquoi voulez-vous pratiquer une activité sportive ?
                                        <img src="../img/arrowdown.png" alt="">
                                    </a>
                                    <div class="collapse multi-collapse bg-light" id="multiCollapseExample1">
                                        <div class="p-3 bg-light">
                                            <div class="row d-flex align-items-center my-2">
                                                <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">S'entretenir</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 mb-2">
                                                    <div class="form-check">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">Se défouler</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex align-items-center my-2">
                                                <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">Se relaxer</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">Jouer</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex align-items-center my-2">
                                                <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">Explorer</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input me-4" type="checkbox" id="public1">
                                                        <label class="form-check-label m-0">S'exprimer</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 flex-column justify-content-center my-3 ">
                                    <button class="btn w-100 bg-light d-flex justify-content-between align-items-center p-3 fw-bold" style="color: #0099DC;" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                                        Quelle type d’activité vous intéresse ?
                                        <img src="../img/arrowdown.png" alt="">
                                    </button>
                                    <div class="collapse multi-collapse bg-light" id="multiCollapseExample2">
                                            <div class="p-3 bg-light">
                                                <div class="row d-flex align-items-center my-2">
                                                    <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Activités aquatiques</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 mb-2">
                                                        <div class="form-check">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Arts énergétiques</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center my-2">
                                                    <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Activités gymniques d'entretien et d'expression</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Jeux sportifs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row d-flex align-items-center my-2">
                                                    <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Pleine nature</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 mb-2 d-flex align-items-center">
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-4" type="checkbox" id="public1">
                                                            <label class="form-check-label m-0">Jeux d'opposition</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>                       
                    <div class="d-flex justify-content-center mt-5">
                        <div class="flex-column col-lg-9 container-fluid">
                            <p class="display-4  fw-bold text-center">Ces activités peuvent vous intéresser</p>
                            <div class="d-flex justify-content-center flex-wrap my-3" id="btnlettre">
                                    <button type="button" class="btn btn-light mx-1">A</button>
                                    <button type="button" class="btn btn-light mx-1">B</button>
                                    <button type="button" class="btn btn-light mx-1">C</button>
                                    <button type="button" class="btn btn-light mx-1">D</button>
                                    <button type="button" class="btn btn-light mx-1">E</button>
                                    <button type="button" class="btn btn-light mx-1">F</button>
                                    <button type="button" class="btn btn-light mx-1">G</button>
                                    <button type="button" class="btn btn-light mx-1">H</button>
                                    <button type="button" class="btn btn-light mx-1">I</button>
                                    <button type="button" class="btn btn-light mx-1">J</button>
                                    <button type="button" class="btn btn-light mx-1">K</button>
                                    <button type="button" class="btn btn-light mx-1">L</button>
                                    <button type="button" class="btn btn-light mx-1">M</button>
                                    <button type="button" class="btn btn-light mx-1">N</button>
                                    <button type="button" class="btn btn-light mx-1">O</button>
                                    <button type="button" class="btn btn-light mx-1">P</button>
                                    <button type="button" class="btn btn-light mx-1">Q</button>
                                    <button type="button" class="btn btn-light mx-1">R</button>
                                    <button type="button" class="btn btn-light mx-1">S</button>
                                    <button type="button" class="btn btn-light mx-1">T</button>
                                    <button type="button" class="btn btn-light mx-1">U</button>
                                    <button type="button" class="btn btn-light mx-1">V</button>
                                    <button type="button" class="btn btn-light mx-1">W</button>
                                    <button type="button" class="btn btn-light mx-1">X</button>
                                    <button type="button" class="btn btn-light mx-1">Y</button>
                                    <button type="button" class="btn btn-light mx-1">Z</button>
                                
                            </div>
                            <div class="container d-flex justify-content-center" id="grid">
                                <div class="row col-12 mt-3 d-flex justify-content-center">
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card shadow-none text-center h-100">
                                            <img src="../img/abdo fessier 2.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Abdo fessier</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card shadow-none text-center h-100">
                                            <img src="../img/aerobic training 1.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aerobic training</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card shadow-none text-center h-100">
                                            <img src="../img/aeromodelisme.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aéromodélisme</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/Aido 1.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aïdo</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/AIKI TAI DO 1.jpg" class="card-img" alt="Image 2">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aiki Tai Do</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/aikido 1.jpg" class="card-img" alt="Image 3">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aïkido</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/Aquabike 1.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aquabike</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/aquagym 1.jpg" class="card-img" alt="Image 2">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Aquagym</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/athletisme 1.jpg" class="card-img" alt="Image 3">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Athlétisme</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/Badminton 1.jpg" class="card-img" alt="Image 1">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Badminton</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/ballon-suisse 1.jpg" class="card-img" alt="Image 2">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Ballon suisse</h1>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 mb-4 d-flex justify-content-center">
                                        <a href="../" class="card">
                                            <img src="../img/ballzen 1.jpg" class="card-img" alt="Image 3">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center card-overlay">
                                                <h1 class="text-center col-lg-10">Ball zen</h1>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center border-0 p-5">
                                    <li class="page-item">
                                        <a class="page-link border-0" href="#">Précédent</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link active rounded-circle mx-1" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link rounded-circle mx-1" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link rounded-circle mx-1" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link border-0 mx-1" href="#">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link rounded-circle mx-1" href="#">16</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link border-0" href="#">Suivant</a>
                                    </li>
                                </ul>
                                
                            </nav>
                        </div>
                    </div>
                    <div class="container my-5" id="imgoverlay">
                        <div class="background-container d-flex justify-content-center py-5">
                            <img src="../img/AdobeStock_318547767 1.jpg" alt="Background Image" class="img-fluid w-100 h-100 position-absolute">
                            <div class="background-filter"></div>
                            <div class="content col-sm-9 py-5 text-center d-flex flex-column align-items-center">
                                <p class="display-4 text-white mt-lg-5">Besoin d'aide pour trouver une activité ?</p>
                                <div class="my-5">
                                    <h6>
                                        Activités gymniques, jeux sportifs ou d’opposition, activités de pleine nature, arts énergétiques, activités aquatiques.
                                        Découvrez plus de 150 activités : Gym douce (Yoga, Pilates, Renforcement musculaire…),
                                        Marche Nordique, Basket fauteuil, Danse, Qi gong, Randonnée, Gym santé…
                                    </h6>
                                </div>
                                <button class="btn bg-white shadow py-3 ps-5 ms-5 d-flex align-items-center position-relative">
                                    <div class="circle-container d-flex justify-content-center align-items-center">
                                        <img src="../img/Group 44.png" alt="" class="">
                                    </div>
                                    <div class="col">
                                        <h1 class="mb-1 text-start" style="color: #0E3083;">FAITES LE TEST</h1> 
                                        <h6 class="mb-0 text-start fw-bold" style="color: #0099DC;">et découvrez l'activité qui est faite pour vous</h6> 
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Content area-->

                <!-- footer -->             
                <div id="footer" class="d-flex justify-content-center col-md-12 my-md-0">
                    <div class="row d-flex justify-content-around align-items-center col-md-12 container-fluid p-0">
                        <img src="../img/Ellipse 19.png" alt="" id="ellipse">
                        <div class="navbar navbar-sm navbar-footer text-white px-xl-5 ">
                            <div class="container-fluid flex-column px-xl-5">
                                <div class="row container-fluid d-flex justify-content-around col-md-12">
                                    <div class="d-flex col-lg-4 justify-content-center align-items-center py-3">
                                        <img src="../img/logo.png" alt="" id="footerlogo">
                                    </div>
                                    <div class="d-flex flex-column col-lg-4 text-center justify-content-center align-items-center py-3">
                                        <ul class="list-unstyled fw-bold">
                                            <li class="mb-2"><a href="#" class="text-white">FAQ</a></li>
                                            <li class="mb-2"><a href="#" class="text-white">Espace Presse</a></li>
                                            <li class="mb-2"><a href="#" class="text-white">Contacts</a></li>
                                            <li class="mb-2"><a href="#" class="text-white">Coordonnées Comités</a></li>
                                            <li class="mb-2"><a href="#" class="text-white">Signalement</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 py-3 d-flex justify-content-center">
                                        <div class="col-lg-9">
                                            <h2 class="text-white text-center py-3">Suivez-nous!</h2>
                                            <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                                                <div class="d-flex" >
                                                    <li class="m-2">
                                                        <a href="#">
                                                            <img src="../img/facebook.png" alt="Icon 1">
                                                        </a>
                                                    </li>
                                                    <li class="m-2">
                                                        <a href="#">
                                                            <img src="../img/instagram.png" alt="Icon 2">
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class="d-flex">
                                                    <li class="m-2">
                                                        <a href="#">
                                                            <img src="../img/linkedin.png" alt="Icon 3">
                                                        </a>
                                                    </li>
                                                    <li class="m-2">
                                                        <a href="#">
                                                            <img src="../img/ytb.png" alt="Icon 4">
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center">© 2024 Tous Droits Réservés  -  Mentions légales  -  Plan du site</p>
                            </div>
                            
                        </div>
                    </div> 
                </div> 
                <!-- Footer -->
            </div>
			<!-- /inner content -->
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>