<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>actualité</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">

				 <!-- Page header -->
                 <div id="header" class="page-header col-md-12">
                    <div class="page-header-content d-flex justify-content-sm-between justify-content-around align-items-center text-center p-5 container-fluid flex-wrap">
                        <div class="d-flex">
                            <div class="navbar-brand flex-1 flex-md-0">
                                <a href="../projet_federal.php" class="d-inline-flex align-items-center">
                                    <img src="../img/logo.png" id="logo">
                                </a>
                            </div>
                        </div>
                        <div class="d-lg-inline-none collapse d-lg-block ms-lg-auto mx-5">
                            <div class="btn-group d-flex flex-wrap align-items-center">
                                <div class="btn-group dropstart d-flex align-items-center">
                                    <button class="btn bg-transparent border-0 text-white mx-2" data-bs-toggle="dropdown">
                                        <img src="../img/loupe.png">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-center bg-transparent border-0" data-popper-placement="left-start">
                                        <div class="form-control-feedback form-control-feedback-start d-flex align-items-center">
                                            <input type="text" class="form-control bg-white" placeholder="Search">
                                            <div class="form-control-feedback-icon">
                                                <i class="ph-magnifying-glass"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="../#" class="d-flex flex-column mx-2 align-items-center justify-content-around">
                                    <img src="../img/france.png" class="mx-auto mb-2">
                                    <span class="small col-lg-8 text-white fw-bold">Trouver un club</span>
                                </a>
                                <a href="../#" class="d-flex flex-column mx-2 align-items-center justify-content-around">
                                    <img src="../img/Group 41.png" class="mx-auto mb-2">
                                    <span class="small text-white fw-bold">Extranet</span>
                                </a>
                                <a href="../#" class="d-flex flex-column mx-2 align-items-center justify-content-around">
                                    <img src="../img/Group 42.png" class="mx-auto mb-2">
                                    <span class="small col-lg-8 text-white fw-bold">Espace licencié</span>
                                </a>
                            </div>
                        </div>
                        <button  class="px-3 py-1 bg-white border-0 d-flex align-items-center justify-content-center text-body radius-15" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="d-flex align-items-center">
                                <p class="fw-semibold m-2" style="color: #0E3083;">Menu</p>
                                <img src="../img/burger icon(1).png" class="ms-3">
                            </div>
                        </button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="true">
                            <div class="modal-dialog modal-fullscreen py-5 px-md-3">
                                <div class="modal-content bg-transparent container-fluid">
                                    <div class="bg-white radius-20 px-xxl-5 pb-5 container-fluid">
                                        <div class="modal-header d-flex justify-content-end border-0 p-3">
                                            <a class="btn bg-transparent border-0 my-3" data-bs-dismiss="modal">
                                                <span class="mx-2">Fermer le menu</span>
                                                <img src="../img/redcross.png">
                                            </a>
                                        </div>
                                        <div class="modal-body d-flex flex-wrap p-0 justify-content-around align-items-center container-fluid">
                                            <div class="d-sm-flex container-fluid col-xl-5 col-md-12 p-0 m-0 justify-content-around align-items-center">
                                                <div class="text-sm-start flex-column d-flex p-0 justify-content-between align-items-center">
                                                    <div class="">
                                                        <a href="../"><h3>La fédération</h3></a>
                                                        <ul class="niv1menu list-unstyled my-3 ms-xl-4">
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapseQuisommesnous" aria-expanded="false" aria-controls="collapseQuisommesnous">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i> Qui sommes nous ?
                                                                </a>
                                                                <ul id="collapseQuisommesnous" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Qui sommes nous ?</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapseMissions" aria-expanded="false" aria-controls="collapseMissions">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i> Nos missions
                                                                </a>
                                                                <ul id="collapseMissions" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Santé</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio-éducatif</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapseOrganisation" aria-expanded="false" aria-controls="collapseOrganisation">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i> Organisation
                                                                </a>
                                                                <ul id="collapseOrganisation" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Organisation</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio-éducatif</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Projet fédéral</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="">
                                                        <a href="../demande_affiliation.php"><h3>Affilier son club</h3></a>
                                                        <ul class="niv1menu list-unstyled my-3 ms-xl-4">
                                                            <li>
                                                                <a href="../projet_federal.php">Pourquoi nous rejoindre ?</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Comment nous rejoindre ?</a>
                                                            </li>
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapseServices" aria-expanded="false" aria-controls="collapseServices">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i>Nos services ?
                                                                </a>
                                                                <ul id="collapseServices" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Santé</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio-éducatif</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div id="verticaldivider" class="d-none d-xxl-block mx-5"></div>
                                                <div class="text-sm-start flex-column p-0 justify-content-between align-items-center">
                                                    <div class="">
                                                        <a href="../"><h3>Pratiquer</h3></a>
                                                        <ul class="niv1menu list-unstyled my-3 ms-xl-4 mx-4">
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapseActivites" aria-expanded="false" aria-controls="collapseActivites">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i>Nos activités
                                                                </a>
                                                                <ul id="collapseActivites" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../activites.php"><h6>Liste des activités</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="../test_activite.php">Quelle activité est faite pour vous ?</a>
                                                            </li>
                                                            <li>
                                                                <a href="../trouveruncblub.php">Trouver un club</a>
                                                            </li>
                                                            <li>
                                                                <a href="../test_forme.php">Testez votre forme</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">L’offre d’adhésion</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">La licence Sport Pour Tous</a>
                                                            </li>
                                                            <li class="accordion-item">
                                                                <a class="accordion-header" href="../#" data-bs-toggle="collapse" data-bs-target="#collapsePASS" aria-expanded="false" aria-controls="collapsePASS">
                                                                    <i class="me-2 fas fa-chevron-down toggle-icon"></i>Les PASS
                                                                </a>
                                                                <ul id="collapsePASS" class="niv2menu accordion-collapse collapse list-unstyled my-3 px-3">
                                                                    <li><a class="dropdown-item my-2" href="../passhebdo.php"><h6>Acheter un PASS</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Sport Socio-éducatif</h6></a></li>
                                                                    <li><a class="dropdown-item my-2" href="../#"><h6>Nos publics</h6></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="">
                                                        <a href="../"><h3>Evènements</h3></a>
                                                        <ul class="niv1menu list-unstyled my-3 ms-xl-4">
                                                            <li>
                                                                <a href="../projet_federal.php">Road Tour Sports pour Tous</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Semaine de la Forme</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Paris 2024</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Téléthon</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="verticaldivider" class="d-none d-xxl-block mx-5"></div>
                                            <div class="d-sm-flex container-fluid col-xl-5 col-md-12 p-0 m-0 justify-content-around align-items-center">
                                                <div class="text-sm-start flex-column p-0 justify-content-between align-items-center">
                                                    <div class="">
                                                        <a href="../"><h3>Se former</h3></a>
                                                        <ul class="niv1menu list-unstyled my-3 ms-xl-4"> 
                                                            <li>
                                                                <a href="../trouver_une_formation.php">Nos formations</a>
                                                            </li>
                                                            <li>
                                                                <a href="../trouveruneformation.php">Trouver une formation</a>
                                                            </li>
                                                            <li>
                                                                <a href="../CQP.php">CQP Animateur de Loisir Sportif</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">BP JPES Activités Physiques pour Tous</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Activités Physiques Sur Prescriptions Médicale</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Encadrant bénévole</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Formations Professionnelles Continues</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Métiers du développement</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Animateur de Loisir Sportif</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">Métiers de la formation</a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <a href="../"><h3>Sports pour Tous le Mag Contact</h3></a>
                                                    </div>
                                                </div>
                                                <div id="verticaldivider" class="d-none d-xxl-block mx-3"></div>
                                                <div class="text-sm-end flex-column d-flex p-0 justify-content-between align-items-sm-end">
                                                    <div class="">
                                                        <ul class="niv3menu list-unstyled my-3"> 
                                                            <li>
                                                                <a href="../projet_federal.php">Vidéothèque</a>
                                                            </li>
                                                            <li>
                                                                <a href="../trouveruneformation.php">Espace presse</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">FAQ</a>
                                                            </li>
                                                            <li>
                                                                <a href="../projet_federal.php">FAQ Sites Structures</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="">
                                                        <ul class="niv2menu list-unstyled my-3">
                                                            <li><a class="dropdown-item my-2" href="../#"><h6>Mentions légales</h6></a></li>
                                                            <li><a class="dropdown-item my-2" href="../#"><h6>Plan du site</h6></a></li>
                                                            <li><a class="dropdown-item my-2" href="../#"><h6>Signalements</h6></a></li>
                                                            <li><a class="dropdown-item my-2" href="../#"><h6>Nos partenaires</h6></a></li>
                                                            <li><a class="dropdown-item my-2" href="../#"><h6>Actualités</h6></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
                 
                <!-- Content area -->
                <div class="content p-0" id="actualites">
                    <div id="hautpage">
                        <div id="bandeau" class="position-relative d-flex justify-content-center align-items-center text-center">
                            <img src="../img/sport-activite-nature-lozere-velo-tout-terrain-13-1200x900 1.jpg" class="img-fluid">
                            <div class="overlay-text position-absolute w-75 h-100 d-flex justify-content-center align-items-center">
                                <p class="display-1 fw-bold text-white col-lg-8">Notre actualité</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center container-fluid my-5">
                            <div class="col-md-9">
                                <span class="breadcrumb-item active">Accueil  >  La fédération  >  Notre actualité</span>
                            </div>
                        </div>
                        <div class="flex-column align-items-center text-center container-fluid col-md-6">
                            <p class="display-4">Notre actualité</p>
                        </div>
                    </div>                      
                    <div id="actualites" class="d-flex justify-content-center container-fluid">
                        <div class="flex-column col-xl-9 col-sm-12 d-flex align-items-center container-fluid">
                            <div class="mt-3 w-100">
                                <select class="col-lg-3 p-3 px-lg-5 bg-transparent border">
                                    <option value="Option 1">Administratif</option>
                                    <option value="Option 2">Option 2</option>
                                </select>
                            </div>
                            <div class="row mt-3 d-flex justify-content-between py-md-5 w-100">
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="col-12 h-100 d-flex flex-column">
                                        <img src="../img/Actu 1 1.jpg" class="radius-15 w-100">
                                        <h6 class="text-prim my-4">VIE FEDERAL</h6>
                                        <h4 class="text-sec fw-bold">Road Tour Sports pour tous : C’est parti pour la 4ème édition !</h4>
                                        <h6 class="my-4">C’est l’heure du départ pour le Road Tour Sports pour Tous. Il s’élance dès aujourd’hui en Normandie puis traversera la France jusqu’au 10 novembre en Guyane.</h6>
                                        <p class="breadcrumb-item active small fw-bold">Vendredi 3 mai 2024</p>
                                        <a class="btn col-6 py-3 text-white shadow my-4" style="background-color: #0099DC">
                                            <span class="fw-bold text-center">Lire la suite</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- /Content area -->
                 
                <!-- footer -->             
                <div id="footer" class="d-flex justify-content-center col-md-12 my-md-0">
                    <div class="row d-flex justify-content-around align-items-center col-md-12 container-fluid p-0">
                        <img src="../img/Ellipse 19.png" id="ellipse">
                        <div class="navbar navbar-sm navbar-footer text-white px-xl-5 ">
                            <div class="container-fluid flex-column px-xl-5">
                                <div class="row container-fluid d-flex justify-content-around col-md-12">
                                    <div class="d-flex col-lg-4 justify-content-center align-items-center py-3">
                                        <img src="../img/logo.png" id="footerlogo">
                                    </div>
                                    <div class="d-flex flex-column col-lg-4 text-center justify-content-center align-items-center py-3">
                                        <ul class="list-unstyled fw-bold">
                                            <li class="mb-2"><a href="../#" class="text-white">FAQ</a></li>
                                            <li class="mb-2"><a href="../#" class="text-white">Espace Presse</a></li>
                                            <li class="mb-2"><a href="../#" class="text-white">Contacts</a></li>
                                            <li class="mb-2"><a href="../#" class="text-white">Coordonnées Comités</a></li>
                                            <li class="mb-2"><a href="../#" class="text-white">Signalement</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 py-3 d-flex justify-content-center">
                                        <div class="col-lg-9">
                                            <h2 class="text-white text-center py-3">Suivez-nous!</h2>
                                            <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                                                <div class="d-flex" >
                                                    <li class="m-2">
                                                        <a href="../#">
                                                            <img src="../img/facebook.png">
                                                        </a>
                                                    </li>
                                                    <li class="m-2">
                                                        <a href="../#">
                                                            <img src="../img/instagram.png">
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class="d-flex">
                                                    <li class="m-2">
                                                        <a href="../#">
                                                            <img src="../img/linkedin.png">
                                                        </a>
                                                    </li>
                                                    <li class="m-2">
                                                        <a href="../#">
                                                            <img src="../img/ytb.png">
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center">© 2024 Tous Droits Réservés  -  Mentions légales  -  Plan du site</p>
                            </div>
                        </div>
                    </div> 
                </div> 
                <!-- Footer -->

            </div>
            <!-- /inner content -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
